<%= form_with(model: kit) do |form| %>
  <% if kit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kit.errors.count, "error") %> prohibited this kit from being saved:</h2>

      <ul>
        <% kit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :offer_id %>
    <%= form.number_field :offer_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.text_field :width %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :additional %>
    <%= form.text_field :additional %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
