  <% content_for :head do %>
  <title>Mechanical Shaft Seal Kits Howden | Sabroe | Grasso | Mycom</title>
  <link rel="icon" type="image/x-icon" href="/media/shaftsealkit_favicon_blue.png">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9BFTG4CVCQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9BFTG4CVCQ');
  </script>
  <!-- Get user ip -->
  <script type="text/javascript" src="https://www.l2.io/ip.js?var=userip"></script>
  <!-- /Get user ip -->
  <!-- Metrika counter -->
  <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(92116743, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, params:{'ip': userip} }); </script> <!-- /Metrika counter -->

  <!-- JavaScript -->  
  <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.4.2/parallax.min.js"></script>

  <!-- Meta tags -->  
  <meta charset="utf-8">   
  <meta name="description" content="Shaft seal kit Howden Sabroe Mycom GEA Grasso Frick Johnson Controls Stal Gram Danfoss with worldwide delivery.">  
<% end %>

  <div class="intro text-center" id="intro" data-parallax="scroll" data-image-src="media/intro.webp">

    <h1 class="title-large">Shaft seal kits for your compressor!</h1>
    <h2 class="text-lead">We supply the offered spare parts directly from Europe all over the world!</h2>

    <h2 style="text-align: left;" class="buffer-top-large">Working with us, you get:</h2>

    <ul class="benefits">
      <li>Quality goods at reasonable prices</li>
      <li>Free consultation with an experienced specialist</li>
      <li>Special offers for regular customers</li>
      <li>Fast delivery anywhere in the world</li>
      <li>Regular promotions with good discounts</li>
    </ul>

    <div class="buffer-both">
      <a class="button button-blue" href="#contacts">To learn more</a>
    </div>
  </div>

  <div class="container text-center buffer-top-large" style="padding: 20px;">

    <h2  class="text-lead">We supply mechanical shaft seal kits for the following brands of compressors (click image to view parts list):</h2>

    
    <div class="column-1-3 buffer-top">
      <a href="#Grasso"><img class="distr" src="media/dis1.png" alt="Gea Grasso shaft seal kits" title="Shaft seal kits Gea Grasso - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
      <a href="#Johnson"><img class="distr" src="media/dis2.png" alt="Johnson Controls shaft seal kits" title="Shaft seal kits Johnson Controls - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
      <a href="#Sabroe"><img class="distr" src="media/dis3.png" alt="Sabroe shaft seal kits" title="Shaft seal kits Sabroe - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Stal"><img class="distr" src="media/dis4.png" alt="Stal shaft seal kits" title="Shaft seal kits Stal - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#howden"><img class="distr" src="media/dis5.png" alt="Shaft seal kits Howden" title="Shaft seal kits Howden - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Gram"><img class="distr" src="media/dis6.png" alt="Gram shaft seal kits" title="Shaft seal kits Gram - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Frick"><img class="distr" src="media/dis7.png" alt="Frick shaft seal kits" title="Shaft seal kits Frick - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Danfoss"><img class="distr" src="media/dis8.png" alt="Danfoss shaft seal kits" title="Shaft seal kits Danfoss - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Mycom"><img class="distr" src="media/dis9.png" alt="Mycom shaft seal kits" title="Shaft seal kits Mycom - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Internormen"><img class="distr" src="media/dis10.png" alt="Internormen shaft seal kits" title="Shaft seal kits Internormen - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Technofrigo"><img class="distr" src="media/dis11.jpg" alt="Technofrigo shaft seal kits" title="Shaft seal kits Technofrigo - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Technolab"><img class="distr" src="media/dis12.png" alt="Technolab shaft seal kits" title="Shaft seal kits Technolab - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Temprite"><img class="distr" src="media/dis13.jpg" alt="Temprite shaft seal kits" title="Shaft seal kits Temprite - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#Vilter"><img class="distr" src="media/dis14.png" alt="Vilter shaft seal kits" title="Shaft seal kits Vilter - click to learn more"></a>
    </div>
    <div class="column-1-3 buffer-top">
        <a href="#York"><img class="distr" src="media/dis15.png" alt="York shaft seal kits" title="Shaft seal kits York - click to learn more"></a>
    </div>
  </div>

<div class="content" style="padding: 20px;">
<br id="howden">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Howden WRV Screw Compressors</h2>
<br>
<h3>MODELS: Mk1A-F WRV 163/145 & 180</h3>
  <ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KWS163, <a href="media/KS163.jpg" title="Photo shaft seal kit KS163" target="_blank">KS163</a> (Input Shaft Seal c/w Cover O’Ring G44054), KS163-V (Viton)(Input Shaft Seal c/w Cover O’Ring M6200347)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW163-1, KW163-1-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT163 (G51081 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ163 (R16063 - 2 pc, R16083 - 2 pc, G34045 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV163-M3001001
  </ul>
  <h3>MODELS: Mk1G WRV(H) 163/145 & 180</h3>
  <ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KWS163-1G (Input Shaft Seal c/w Cover O’Ring G44054), KWS163-1G-V (Viton)(Input Shaft Seal c/w Cover O’Ring M6200347)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW163-1, KW163-1-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT163 (G51081 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ163 (R16063 - 2 pc, R16083 - 2 pc, G34045 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV163-M3001001
  </ul>
<h3>MODELS: Mk2A-H WRV(H) 204/110 & 165</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS204-2, KS204-3, KS204-4 (Input Shaft Seal c/w Cover O’Ring G44033)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW204-2
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT204 (G51034 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ204-2, KWJ204-3, KWJ204-4 (R20103 - 2 pc, R20123, R20143, G34004 - 2 pc, G34007 - 2 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV204-M3001002 
</ul>
<h3>MODELS: Mk3/4-4B WRV(H) 204/110 & 165</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS204-2/3/4, KWS204-2/3/4  (Input Shaft Seal c/w Cover O’Ring G44033)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW204-3-4B
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT204 (G51034 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ204-2/3/4 (R20103 - 2 pc, R20123, R20143, G34004 - 2 pc, G34007 - 2 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV204-M3001002 
</ul>
<h3>MODELS: Mk5-5E WRV(H) 204/110, 145, 165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS204-5, KWS204-5, KS204-5-V, KWS204-5-V (Viton) (Input Shaft Seal c/w Cover O’Ring M6213453)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW204-5, KW204-5-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT204 (G51034 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ204-5/6 (R20232 - 2 pc, R20242 - 2 pc, G34060 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV204-M3001002 
</ul>
<h3>MODELS: Mk6 & 6A WRV(H) 204/110, 145, 165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS204.jpg" title="Photo shaft seal kit KS204" target="_blank">KS204</a> (KSN204-6, KWS204-6), KS204-6-V, KWS204-6-V (Viton) (Input Shaft Seal c/w Cover O’Ring G44033)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW204-6, KW204-6-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT204  (G51034 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ204-5/6 (R20232 - 2 pc, R20242 - 2 pc, G34060 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV204-M3001002 
</ul>
<h3>MODELS: Mk1-4F WRV(H) 255/110, 130, 145, 165, 193 & 220</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS255-4, KWS255-4, KS255-4-V, KWS255-4-V, (Viton, Shaft Seal c/w Cover O’ring M6200258)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW255-1-4F, KW255-1-4F-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT255 (G51035 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ255 (R25663 - 2 pc, R25643 - 2 pc, G36005 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV255-M3001003 
</ul>
<h3>MODELS: Mk4G WRV(H) 255/110, 130, 145, 165, 193 & 220</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS255-4, KWS255-4, KS255-4-V (Viton, Shaft Seal c/w Cover O’ring M6200258)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW255-4G, KW255-4G-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT255 (G51035 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ255 (R25663 - 2 pc, R25643 - 2 pc, G36005 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV255-M3001003 
</ul>
<h3>MODELS: Mk5 WRV(H) 255/110, 130, 145, 165, 193 & 220</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS255-4, KWS255-4, KS255-4-V (Viton, Shaft Seal c/w Cover O’ring M6200258)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW255-5, KW255-5-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT255 (G51035 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ255 (R25663 - 2 pc, R25643 - 2 pc, G36005 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV255-M3001003 
</ul>
<h3>MODELS: Mk6 WRVi 255/110, 130, 145, 165, 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS255-6.jpg" title="Photo shaft seal kit KS255-6" target="_blank">KS255-6</a> (KSN255-6 KWS255-6,), KS255-6-V (Viton, Shaft Seal c/w Cover O’ring M6200258)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW255-6, KW255-6-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT255 (G51035 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ255 (R25663 - 2 pc, R25643 - 2 pc, G36005 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV255-M3001003 
</ul>
<h3>MODELS: Mk4-4F WRV(H) 321/132, 165, 193 & 220</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS321-4.jpg" title="Photo shaft seal kit KS321-4" target="_blank">KS321-4</a>, KWS321-4, KS321-4-V (Viton)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW321-4, KW321-4-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT321 (G51063 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ321 (R32063 - 2 pc, R32083 - 2 pc, G36013 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV321-M3001004 
</ul>
<h3>MODELS: Mk5 WRV(H) 321/132, 165, 193 & 220</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS321-4.jpg" title="Photo shaft seal kit KS321-4" target="_blank">KS321-4</a>, KWS321-4, (Shaft Seal c/w cover o’ring G44046), KS321-4-V (Viton)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW321-5, KW321-5-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT321 (G51063 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ321 (R32063 - 2 pc, R32083 - 2 pc, G36013 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV321-M3001004 
</ul>
<h3>MODELS: Mk6 WRVi 321, ALL L/D’S</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS321-6.jpg" title="Photo shaft seal kit KS321-6" target="_blank">KS321-6</a> (KSN321-6, KWS321-6,), KS321-6-V (Viton)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW321-6, KW321-6-V (Viton)
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT321 (G51063 - 4 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ321 (R32063 - 2 pc, R32083 - 2 pc, G36013 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV321-M3001004 
</ul>
<h3>MODELS: Mk1 WRVi 365, ALL L/D’S</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS365, KWS365 (Shaft Seal c/w cover o’ring XR12112-3)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW365
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT365 (G51063 - 5 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ365(VR36086-2 - 2 pc, VR36086-2 - 2 pc, M6510020 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV365-M3001007 
</ul>
<h3>MODELS: Mk1 WRVi 365, ALL L/D’S (Viton)</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KS365-V, KWS365-V (Shaft Seal c/w cover o’ring M6223935)
    <li>ANNUAL INSPECTION KIT HOWDEN – KW365-V
    <li>REPLACEMENT THRUST BEARING KIT HOWDEN – KWT365 (G51063 - 5 pc)
    <li>REPLACEMENT JOURNAL BEARING KIT HOWDEN – KWJ365(VR36086-2 - 2 pc, VR36086-2 - 2 pc, M6510020 - 4 pc)
    <li>LPI - Linear Position Indicator HWLLCD-WRV365-M3001007 
</ul>
<br>
<br>
<h2 class="text-lead">Mechanical Shaft Seal Kits for Howden XRV Screw Compressors</h2>
<br>
<h3>MODELS: Mk2, 2A & 2B XRV 127/165 R1</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KXDS127 (Input Shaft Seal c/w cover O’ring G44059)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX127-2
    <li>OVERHAUL KIT HOWDEN – KXD127-2
    <li>LPI - Linear Position Indicator HWLLCD-XRV127-XR12000 
</ul>
<h3>MODELS: Mk3 XRV 127/165 R1</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KXDS127 (Input Shaft Seal c/w cover O’ring G44059)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX127-3
    <li>OVERHAUL KIT HOWDEN – KXD127-2
    <li>LPI - Linear Position Indicator HWLLCD-XRV127-XR12000 
</ul>
<h3>MODELS: Mk4 XRV 127/165 R1</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KXDS127 (Input Shaft Seal c/w cover O’ring G44059)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX127-3
    <li>OVERHAUL KIT HOWDEN – KXD127-4
    <li>LPI - Linear Position Indicator HWLLCD-XRV127-XR12000 
</ul>
<h3>MODELS: Mk2, 2A & 2B XRV 127/165 R3-5</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KXGS127 (XR12124-3, Input Shaft Seal (Short Seat) c/w O’rings XR12105-3 & XR12110-3)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX127-2
    <li>OVERHAUL KIT HOWDEN – KXG127-2
    <li>LPI - Linear Position Indicator HWLLCD-XRV127-XR12000 
</ul>
<h3>MODELS: Mk3 XRV 127/165 R3-5</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KXGS127 (XR12124-3, Input Shaft Seal (Short Seat) c/w O’rings XR12105-3 & XR12110-3)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX127-3
    <li>OVERHAUL KIT HOWDEN – KXG127-2
    <li>LPI - Linear Position Indicator HWLLCD-XRV127-XR12000 
</ul>
<h3>MODELS: Mk4 XRV 127/165 R3-5</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – KXGS127 (XR12124-3, Input Shaft Seal (Short Seat) c/w O’rings XR12105-3 & XR12110-3)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX127-3
    <li>OVERHAUL KIT HOWDEN – KXG127-4
    <li>LPI - Linear Position Indicator HWLLCD-XRV127-XR12000 
</ul>
<h3>MODELS: Mk2, 2A, 2B, 2C & 2D XRV 163/165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS163.jpg" title="Photo shaft seal kit KS163" target="_blank">KS163</a> (KSN163) (Input Shaft Seal c/w Cover O’ring XR16105-3)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX163-2C
    <li>OVERHAUL KIT HOWDEN – KX163
    <li>LPI - Linear Position Indicator HWLLCD-XRV163-XR16000 
</ul>
<h3>MODELS: Mk4 XRV163/165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS163.jpg" title="Photo shaft seal kit KS163" target="_blank">KS163</a> (KSN163), KS163-V (Viton) (Input Shaft Seal c/w Cover O’Ring M6200347)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX163-4A
    <li>OVERHAUL KIT HOWDEN – KX163-4
    <li>LPI - Linear Position Indicator HWLLCD-XRV163-XR16000 
</ul>
<h3>MODELS: Mk3, 3A, 3B, 3C, 3D & 3E XRV 204/110, 145, 165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS204.jpg" title="Photo shaft seal kit KS204" target="_blank">KS204</a> (KSN204) (Input Shaft Seal c/w Cover O’Ring G44033)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX204-3D
    <li>OVERHAUL KIT HOWDEN – KX204
    <li>LPI - Linear Position Indicator HWLLCD-XRV204-XR24000
</ul>
<h3>MODELS: Mk4 XRV 204/110, 145, 165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS204.jpg" title="Photo shaft seal kit KS204" target="_blank">KS204</a> (KSN204) (Input Shaft Seal c/w Cover O’Ring G44033)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX204-5A
    <li>OVERHAUL KIT HOWDEN – KX204
    <li>LPI - Linear Position Indicator HWLLCD-XRV204-XR24000 
</ul>
<h3>MODELS: Mk5 XRV 204/110, 145, 165 & 193</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT HOWDEN – <a href="media/KS204.jpg" title="Photo shaft seal kit KS204" target="_blank">KS204</a> (KSN204) (Input Shaft Seal c/w Cover O’Ring G44033)
    <li>ANNUAL INSPECTION KIT HOWDEN – KX204-5A
    <li>OVERHAUL KIT HOWDEN – KX204-5
    <li>LPI - Linear Position Indicator HWLLCD-XRV204-XR24000 
</ul>
<br>
<br id="Mycom">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Mycom Compressors</h2>
<br>
<h3>MODELS: 125, 160, 200, 250, 320</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT MYCOM – CS1001-DV, CS1001-DV, CS10000-250BE, <a href="media/cs10002-250EBS.jpg" title="Photo shaft seal kit CS10002-250EBS" target="_blank">CS10002-250EBS</a>, CS10000-320BE, CS10002-320EBS, CSI OOO-CV, CS1000-EV, CS1001-FV, CS1000-GV
</ul>
<h3>MODELS: 1612, 2016, 2520, 3225</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT MYCOM – CS10002-125EBS, CS10002-160EBS, CS10000-160BT, CS10002-200EBS, CS10001-250BBS, CS10001-320BBS
</ul>
<br>
<h3>Filters for Mycom Compressors</h3>
<ul>
    <li>P50850200 COALESCER - CARTRIDGE</li>
    <li>P50850201 COALESCER - CARTRIDGE</li>
    <li>P50850202 COALESCER - CARTRIDGE - ONE SIDE CLOSED</li>
    <li>P50850203 COALESCER - CARTRIDGE - ONE SIDE CLOSED</li>
    <li>P52850221 COALESCER - CARTRIDGE - ONE SIDE CLOSED</li>
    <li>P50850303 OIL FILTER - CARTRIDGE</li>
    <li>P50850050 OIL FILTER - CARTRIDGE - STAINLESS STEEL</li>
    <li>M-4165-WS OIL FILTER - CARTRIDGE</li>
    <li>MFB1438F110T2N COALESCER - CARTRIDGE</li>
    <li>MFF400NA COALESCER - CARTRIDGE</li>
</ul>
<br id="Grasso">
<h2 class="text-lead">Mechanical Shaft Seal Kits for GEA Grasso Compressors</h2>

<h3>SH Series</h3>
<h4>MODELS: C/D/E/G</h4>
<ul>
    <li>
        REPLACEMENT SHAFT SEAL KIT GEA GRASSO - 959200100TN,
        959000210
    </li>
</ul>

<h3>M Series</h3>
<h4>MODELS: H/L/M/N</h4>
<ul>
    <li>
        REPLACEMENT SHAFT SEAL KIT GEA GRASSO - 959400100TN,
        959000220,
        959000220R22,
        959000220NH3,
        363098170,
        363098170B,
        GLRD 925-B050,
        GLRD 925-B050 S0-RANGE,
        GLRD 925-B050 S0-RAP1GE
    </li>
</ul>

<h3>LT Series</h3>
<h4>MODELS: P/180GL, R/230GL, S/290GL, T/340GL, V/400GL, W/475GL, Y/565GL, Z/675GL, XA/800GL, XB/1025GL,
    XC/1210GL, XD/1435GL, XE/1770GL, XF/2110GL, XG/2450GL, XH/2850GL</h4>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT GEA GRASSO - 391-00424M-000,
959000210,
959000220,
959000220R22,
959000220NH3,
959000230,
<a href="media/959000230R22.jpg" title="Photo shaft seal kit 959000230R22" target="_blank">959000230R22</a>,
959000230NH3,
959000230PRE,
<a href="media/959000240PRE.jpg" title="Photo shaft seal kit 959000240PRE" target="_blank">959000240PRE</a>,
959000240PRER22,
959000240R22,
959000250PRE,
<a href="media/959000250PRER22.jpg" title="Photo shaft seal kit 959000250PRER22" target="_blank">959000250PRER22</a>,
959000260PRE,
959000260PRER22 ,
959000227R22,

363098047,
363098170,
363098170B,
363098171B,
<a href="media/959000230R22.jpg" title="Photo shaft seal kit 363098175" target="_blank">363098175</a>,
363098175B,
363098100NB,
<a href="media/959000240PRE.jpg" title="Photo shaft seal kit 363098400NB" target="_blank">363098400NB</a>,
363098400N,
363098500NB,
<a href="media/959000250PRER22.jpg" title="Photo shaft seal kit 363098500N" target="_blank">363098500N</a>,
363098600GPMB,
363098600GPM,
363092215NB,
363098200NB,
363098200D,
363098200H,
363098173SIC,
363098070SiC,
363098076,
363098077SiC,
363098053,

GLRD 925-B040 S0-RAP1GE,
GLRD 925-B050,
GLRD 925-B050 S0-RANGE,
GLRD 921,
<a href="media/959000230R22.jpg" title="Photo shaft seal kit GLRD 925-B065 S0-RANGE" target="_blank">GLRD 925-B065 S0-RANGE</a>,
GLRD 925-B065 S0-RAP1GE,
<a href="media/959000240PRE.jpg" title="Photo shaft seal kit GLRD 921-B085 S1-Q3AP1GE" target="_blank">GLRD 921-B085 S1-Q3AP1GE</a>,
GLRD 921-B085 S1-Q3ANGE,
GLRD 921-B095 S1-Q3AP1GE,
<a href="media/959000250PRER22.jpg" title="Photo shaft seal kit GLRD 921-B095 S1-Q3ANGE" target="_blank">GLRD 921-B095 S1-Q3ANGE</a>,
GLRD 21-B110 S1-Q3AP1GE,
GLRD 92-B060 S1-Q3AP1GE,
GLRD 921-B050 S0-Q3AP1GE,
GLRD 92-B065 55-AQ2NGE,
GLRD 92-B085 S5-ARNGE.


<li>REPLACEMENT BEARING KIT - 959200100TN,
959400100TN,
959600100N,
959800100N,
959700100,
959900100TN,
959910100.

</ul>

<h3>MODELS: RC9, RC10, R11, RC12 AND RC12E.</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT GEA GRASSO - 09.62.290, 09.62.067
</ul>
<br>
<h3>Filters for GEA Grasso Compressors</h3>
<ul>
    <li>0711025 OIL FILTER - CARTRIDGE</li>
    <li>0711025 SH 8325 - OIL FILTER - CARTRIDGE - LENGHT H 250MM</li>
    <li>0716695 OIL FILTER - CARTRIDGE</li>
    <li>352100264 OIL FILTER - CARTRIDGE</li>
    <li>352198105 OIL FILTER - CARTRIDGE</li>
    <li>352198109 OIL FILTER - CARTRIDGE</li>
    <li>352199263 OIL FILTER - CARTRIDGE</li>
    <li>352199264 OIL FILTER</li>
    <li>362698015 COALESCER - CARTRIDGE</li>
    <li>362698015 COALESCER - CARTRIDGE</li>
    <li>362698023 COALESCER - CARTRIDGE</li>
    <li>362698023 COALESCER - CARTRIDGE</li>
    <li>362698045 COALESCER - CARTRIDGE</li>
    <li>362698045 COALESCER - CARTRIDGE</li>
    <li>362698047 COALESCER - CARTRIDGE</li>
    <li>362698047 COALESCER - CARTRIDGE</li>
    <li>959000110 OIL FILTER</li>
    <li>959000120 OIL FILTER</li>
    <li>959000130 OIL FILTER - CARTRIDGE</li>
    <li>959000131 OIL FILTER - CARTRIDGE</li>
    <li>030-00097A-00 OIL FILTER - CARTRIDGE</li>
    <li>030-00613C-001 COALESCER - CARTRIDGE</li>
    <li>030-00613C-002 COALESCER - CARTRIDGE</li>
    <li>030-0065B-000 COALESCER - CARTRIDGE</li>
    <li>327180-25VG OIL FILTER - CARTRIDGE</li>
    <li>327189-25VG OIL FILTER - CARTRIDGE</li>
    <li>327199-25VG OIL FILTER - CARTRIDGE</li>
    <li>327203-25VG OIL FILTER - CARTRIDGE</li>
    <li>327208-25VG OIL FILTER - CARTRIDGE</li>
    <li>352198160VT OIL FILTER - CARTRIDGE</li>
    <li>352198320NT OIL FILTER - CARTRIDGE</li>
    <li>352198322NT OIL FILTER - CARTRIDGE</li>
    <li>352198324T OIL FILTER - CARTRIDGE</li>
    <li>352199411GF20CR OIL FILTER - CARTRIDGE</li>
    <li>352199413GF20CR OIL FILTER - CARTRIDGE</li>
    <li>352199417GF20CR OIL FILTER</li>
    <li>575001EPE OIL FILTER</li>
    <li>575008EPE OIL FILTER</li>
</ul>
<br id="Sabroe">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Sabroe Compressors</h2>
<br>
<h3>MODELS: SAB110, SAB128, SAB151, SAB161, SAB163, SAB193, SAB202, SAB233 AND SAB283</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT SABROE – 1332-178, 1332-161, <a href="media/3084-529.jpg" title="Photo shaft seal kit 3084.529" target="_blank">3084-529</a>, 1377-009, 1332.178, 1332.161, <a href="media/3084-529.jpg" title="Photo shaft seal kit 3084.529" target="_blank">3084.529</a>, 1377.009
</ul>
<h3>MODELS: TCMO28 Mk2, HPO26 Mk2 CO2, HPO28 Mk2,  TSMC108 Mk2,  TSMC108 Mk3,  TSMC108 Mk4 Air,  TSMC108 Mk4 Water,  TSMC116 Mk2,  TSMC116 Mk3,  TSMC116 Mk4 Air,  TSMC116 Mk4 Water,  TSMC16-100 Mk1, SMC104 Mk2, SMC104 Mk3, SMC104 Mk4 Air, SMC104 Mk4 Water, SMC106 Mk2, SMC180  AND CMO14 Mk1, CMO16 Mk1, CMO18 Mk1, VMY 225, VMY 225LD, VMY 236, VMY 225LG, VMY 325LD, VMY 336, VMY 325LG, VMY 347, VMY 425LD, VMY 436, VMY 447, VMY 525LD, VMY 536.</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT SABROE – 3184-225, 3126-178, 3184-226, 3126-016, 3126-018, 3126-005, 3126-006,
        3126-110, 3126-114, 3126-138, 3126-158, 3126-168, 3132-144, 3132-145, 3132-183, 3132-180, 3132-181, 3084-735, 3084-739,3184.225, 3126.178, 3184.226, 3126.016, 3126.018, 3126.005, 3126.006,
        3126.110, 3126.114, 3126.138, 3126.158, 3126.168, 3132.144, 3132.145, 3132.183, 3132.180, 3132.181, 3084.735, 3084.739
</ul>
<br>
<h3>Filters for Sabroe Compressors</h3>
<ul>
    <li>128 MK 2 HF COALESCER - CARTRIDGE</li>
    <li>1517.015 OIL FILTER - CARTRIDGE</li>
    <li>1517.018 COALESCER - CARTRIDGE</li>
    <li>1517.019 OIL FILTER - CARTRIDGE</li>
    <li>1517.021 OIL FILTER - CARTRIDGE</li>
    <li>1517.025 OIL FILTER - CARTRIDGE</li>
    <li>1517.040 OIL FILTER - CARTRIDGE</li>
    <li>1517.050 OIL FILTER - CARTRIDGE</li>
    <li>1517.061 COALESCER - CARTRIDGE</li>
    <li>1517.062 COALESCER - CARTRIDGE</li>
    <li>1517.079 COALESCER - CARTRIDGE</li>
    <li>1517.082 OIL FILTER - CARTRIDGE</li>
    <li>1517.116 COALESCER - CARTRIDGE</li>
    <li>1517.117 COALESCER - CARTRIDGE</li>
    <li>1517.118 COALESCER - CARTRIDGE</li>
    <li>1517.121 OIL FILTER - CARTRIDGE</li>
    <li>1517.125 OIL FILTER - CARTRIDGE</li>
    <li>1517.129 OIL FILTER - CARTRIDGE</li>
    <li>1517.150 OIL FILTER - CARTRIDGE</li>
    <li>1517.152 COALESCER - CARTRIDGE</li>
    <li>1517.153 OIL FILTER - SPIN ON</li>
    <li>1517.156 OIL FILTER - CARTRIDGE</li>
    <li>1517.159 COALESCER - CARTRIDGE</li>
    <li>1517.177 COALESCER - CARTRIDGE</li>
    <li>1517.178 COALESCER - CARTRIDGE</li>
    <li>163 MK 2 HF COALESCER - CARTRIDGE</li>
    <li>1819460-1 COALESCER - CARTRIDGE</li>
    <li>1898516-1 COALESCER - CARTRIDGE</li>
    <li>1898516-2 COALESCER - CARTRIDGE</li>
    <li>3088.018 OIL FILTER - CARTRIDGE</li>
    <li>3088.051 OIL FILTER - CARTRIDGE ONLY</li>
    <li>3088.589 COALESCER - CARTRIDGE ONLY</li>
    <li>3425.104 OIL FILTER</li>
    <li>39826457446 COALESCER - CARTRIDGE</li>
    <li>46189.0423 COALESCER - CARTRIDGE</li>
    <li>46189.0424 COALESCER - CARTRIDGE</li>
    <li>46189.0425 COALESCER - CARTRIDGE</li>
    <li>46189.0426 COALESCER - CARTRIDGE</li>
    <li>531A0224H02 OIL FILTER - CARTRIDGE</li>
    <li>989-516-2 COALESCER - CARTRIDGE</li>
    <li>Divisor 1 E OIL/WATER - SEPARATOR</li>
    <li>Divisor 2 E OIL/WATER - SEPARATOR</li>
    <li>Divisor 3 E OIL/WATER - SEPARATOR</li>
    <li>Divisor 4 E OIL/WATER - SEPARATOR</li>
    <li>HF 11D COALESCER - CARTRIDGE</li>
    <li>RSO 411-1 COALESCER - CARTRIDGE</li>
    <li>RSO 614-1 COALESCER - CARTRIDGE</li>
    <li>SAB 180 OIL/WATER - SEPARATOR</li>
    <li>SAB 25 OIL/WATER - SEPARATOR</li>
    <li>SAB 360 OIL/WATER - SEPARATOR</li>
    <li>SAB 45 OIL/WATER - SEPARATOR</li>
    <li>SAB 720 OIL/WATER - SEPARATOR</li>
    <li>SAB 90 OIL/WATER - SEPARATOR</li>
</ul>
<br id="Stal">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Stal Compressors</h2>
<br>
<h3>MODELS: SVA56-511501, P2C, P24 & PK24, PK6, PK8, P28 & P42, S50, S51, S56 & S57, S70, S71, S73 & S75, U & UD Series.</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – 39221610823/1, L08445, 3922-1610-823, 3087.029, 3922-1610-827, 3087.018, 1873 780-1
</ul>
<br>
<h3>Filters for Stal Compressors</h3>
<ul>
    <li>1898516-1 COALESCER - CARTRIDGE</li>
    <li>39526409060 OIL FILTER - CARTRIDGE</li>
    <li>39526456010 COALESCER - CARTRIDGE</li>
    <li>39526457446 COALESCER - CARTRIDGE</li>
</ul>
<br id="Gram">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Gram Compressors</h2>
<br>
<h3>MODELS: HC 6-075, HL 6-075,
HC 8-075, HL 8-075,
HC 6-100, HL 6-100,
HC 8-100, HL 8-100,
HC 6-125, HL 6-125,
HC 8-125, HL 8-125.</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – HC075, HC100, HC125.
</ul>
<br>
<h3>Filters for Gram Compressors</h3>
<ul>
    <li>46-189-0423 COALESCER - CARTRIDGE</li>
    <li>46-189-0424 COALESCER - CARTRIDGE</li>
    <li>46-189-0425 COALESCER - CARTRIDGE</li>
    <li>46-189-0426 COALESCER - CARTRIDGE</li>
    <li>46-191-0015 OIL FILTER - CARTRIDGE</li>
    <li>46-191-0016 OIL FILTER - CARTRIDGE</li>
</ul>
<br id="Frick">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Frick Compressors</h2>
<br>
<h3>MODELS: TDSH/GDSH/SGC/SAB 163 RWBII 60 - 76</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – 534M0163G01 (incl. 534A0037H12, 534A0038H05, 534C0701H01, 980A0012B76).
</ul>
<h3>MODELS: TDSH/GDSH/SGC/SAB 193 RWBII/RDB/RWF 100 – 134</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – 534M0163G02 (incl. 534A0037H12, 534A0038H01, 534C0701H02, 980A0012B84).
</ul>
<h3>MODELS: TDSH/GDSH/SGC/SAB 233 RWBII/RDB/RWF 177, 222, 270</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – 534M0163G03 (incl. 534A0037H12, 534A0038H08, 534C0701H03, 980A0012B90).
</ul>
<h3>MODELS: TDSH/GDSH/SGC/SAB 283 RWBII/RDB/RWF 316, 399, 546</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – 534M0163G04 (incl. 534A0037H12, 534A0038H08, 534C0701H04, 980A0012B96, 534A0335H01).
</ul>
<h3>MODELS: TDSH/SGCH/TDSB/SGCB/SAB 355 designs</h3>
<ul>
    <li>REPLACEMENT SHAFT SEAL KIT – 534M0163G05 (incl. 534A0037H12, 534A0038H08, 534A0038H10, 534C1147H06, 980A0012B90, 980A0012H04, 534B0499H01, 534C1148H01, 333Q0000376, 534B0426H01, 534M0613G01).
</ul>
<br>
<h3>Filters for Frick Compressors</h3>
<ul>
    <li>450471 COALESCER - CARTRIDGE</li>
    <li>451185 COALESCER - CARTRIDGE</li>
    <li>451828 COALESCER - CARTRIDGE</li>
    <li>452086 COALESCER - CARTRIDGE</li>
    <li>531A0028H01 OIL FILTER - CARTRIDGE</li>
    <li>531A0218H01 OIL FILTER - CARTRIDGE</li>
    <li>531A0218H02 OIL FILTER - CARTRIDGE</li>
    <li>531B0019H01 COALESCER - CARTRIDGE</li>
    <li>531B0065H01 COALESCER - CARTRIDGE</li>
    <li>531B0065H02 COALESCER - CARTRIDGE</li>
    <li>531B0065H03 COALESCER - CARTRIDGE</li>
    <li>531B0065H04 COALESCER - CARTRIDGE</li>
    <li>531B0065H05 COALESCER - CARTRIDGE</li>
    <li>531B0065H06 COALESCER - CARTRIDGE</li>
    <li>531B0099H01 COALESCER - CARTRIDGE</li>
    <li>531B0099H01 DA 1330 - COALESCER - ONE SIDE CLOSED</li>
    <li>531B0099H02 COALESCER - CARTRIDGE - ONE SIDE CLOSED</li>
    <li>531B0099H03 COALESCER - CARTRIDGE</li>
    <li>531B0100H01 OIL FILTER</li>
    <li>531B0100H02 OIL FILTER</li>
    <li>531B0100H03 OIL FILTER</li>
    <li>531B0100H04 OIL FILTER</li>
    <li>535A0368H01 OIL FILTER - SPIN ON</li>
    <li>535A0368H02 OIL FILTER - SPIN ON</li>
</ul>
<br>
<br id="Internormen">
<h2 class="text-lead">Internormen hidraulic filters</h2>
<h3>Internormen Filters</h3>
<ul>
    <li>300367 OIL FILTER - CARTRIDGE</li>
    <li>300825 OIL FILTER - CARTRIDGE</li>
    <li>301065 OIL FILTER - CARTRIDGE</li>
    <li>301067 OIL FILTER - CARTRIDGE</li>
    <li>362698023 OIL FILTER - CARTRIDGE</li>
    <li>01.NL 250.10VG.30.E.P OIL FILTER - CARTRIDGE</li>
    <li>0250 DN 010 BN HC OIL FILTER - CARTRIDGE</li>
    <li>04.PI3108.10VG.16.E.O OIL FILTER - CARTRIDGE</li>
    <li>04.PI8530.100G.06.E.O. OIL FILTER - CARTRIDGE</li>
    <li>04.PI8530.16.E.O. OIL FILTER - CARTRIDGE</li>
    <li>05.9600.10VG.10.E.P.8 OIL FILTER - CARTRIDGE</li>
    <li>05.9600.12.200.10.E.P.8 OIL FILTER - CARTRIDGE</li>
    <li>05.9600.25VG.10.E.P.4 OIL FILTER - CARTRIDGE</li>
    <li>2.0250 H 10 SL OIL FILTER - CARTRIDGE</li>
    <li>327189-25VG OIL FILTER - CARTRIDGE</li>
    <li>327198-25VG OIL FILTER - CARTRIDGE</li>
    <li>327203-25VG OIL FILTER - CARTRIDGE</li>
    <li>327208-25VG OIL FILTER - CARTRIDGE</li>
    <li>352198109T OIL FILTER - CARTRIDGE</li>
    <li>352198160VT OIL FILTER - CARTRIDGE</li>
    <li>352198320T OIL FILTER - CARTRIDGE</li>
    <li>352198320VG OIL FILTER - CARTRIDGE</li>
    <li>352198322NT OIL FILTER - CARTRIDGE</li>
    <li>352198324T OIL FILTER - CARTRIDGE</li>
    <li>PI 23025 DN SMX 10 OIL FILTER - CARTRIDGE</li>
    <li>PI 85030 DRG 100 OIL FILTER - CARTRIDGE</li>
</ul>

<br id="Technofrigo">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Clauger-Techofrigo Compressors</h2>
<h3>Filters for Clauger-Techofrigo Compressors</h3>
<ul>
    <li>214030043 OIL FILTER - CARTRIDGE - STAINLESS STEEL</li>
    <li>214030046 OIL FILTER - CARTRIDGE - STAINLESS STEEL</li>
    <li>214030053 OIL FILTER - CARTRIDGE - STAINLESS STEEL</li>
    <li>214040054 DA 1573 - COALESCER - CARTRIDGE - LENGHT 352 MM</li>
    <li>214040054 DA 1573 - COALESCER - CARTRIDGE - LENGHT 560 MM</li>
    <li>214040054 COALESCER - CARTRIDGE</li>
    <li>214040076 COALESCER - CARTRIDGE</li>
    <li>214070005 OIL FILTER - CARTRIDGE - CELLULOSE</li>
    <li>214070005 SH 8358 - OIL FILTER - CARTRIDGE - FIBERGLASS</li>
    <li>RH 70 OIL FILTER - CARTRIDGE - STAINLESS STEEL</li>
    <li>RH 150 OIL FILTER - CARTRIDGE - STAINLESS STEEL</li>
</ul>

<br id="Technolab">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Keltec-Technolab Compressors</h2>
<h3>Filters for Keltec-Technolab Compressors</h3>
<ul>
    <li>RSC 03681 COALESCER - CARTRIDGE</li>
    <li>RSC 03682 COALESCER - CARTRIDGE</li>
    <li>RCS 07701 COALESCER - CARTRIDGE</li>
    <li>RSC 07705 COALESCER - CARTRIDGE</li>
    <li>RCS 07706 COALESCER - CARTRIDGE</li>
    <li>RS0 41101 COALESCER - CARTRIDGE</li>
    <li>RS0 61401 COALESCER - CARTRIDGE</li>
    <li>RSC 03682 COALESCER - CARTRIDGE</li>
    <li>RSC 11401 COALESCER - CARTRIDGE</li>
    <li>RSC 11403 COALESCER - CARTRIDGE</li>
    <li>RSC 24882 COALESCER - CARTRIDGE</li>
    <li>RSC 32091 COALESCER - CARTRIDGE</li>
</ul>

<br id="Temprite">
<h2 class="text-lead">Temprite hidraulic filters</h2>
<h3>Temprite filters</h3>
<ul>
    <li>62028000 COALESCER - CARTRIDGE</li>
    <li>62034000 COALESCER - CARTRIDGE</li>
    <li>62037000 COALESCER - CARTRIDGE</li>
    <li>62092802 COALESCER - CARTRIDGE</li>
    <li>62051000 COALESCER - CARTRIDGE</li>
    <li>62085000 COALESCER - CARTRIDGE</li>
    <li>62024000 COALESCER - CARTRIDGE</li>
    <li>62030000 COALESCER - CARTRIDGE</li>
    <li>62047000 COALESCER - CARTRIDGE</li>
    <li>62086000 COALESCER - CARTRIDGE</li>
</ul>

<br id="Vilter">
<h2 class="text-lead">Mechanical Shaft Seal Kits for Vilter Compressors</h2>
<h3>Vilter filters</h3>
<ul>
    <li>2297A COALESCER - CARTRIDGE</li>
    <li>2297C COALESCER - CARTRIDGE</li>
    <li>2297D COALESCER - CARTRIDGE</li>
    <li>2297E COALESCER - CARTRIDGE</li>
    <li>2879A COALESCER - CARTRIDGE</li>
    <li>2879B COALESCER - CARTRIDGE</li>
    <li>2879C COALESCER - CARTRIDGE</li>
    <li>2922A COALESCER - CARTRIDGE</li>
    <li>2923A COALESCER - CARTRIDGE</li>
</ul>

<br id="Vilter">
<h2 class="text-lead">Mechanical Shaft Seal Kits for York Compressors</h2>
<h3>York filters</h3>
<ul>
    <li>026-31739-004 COALESCER - CARTRIDGE</li>
    <li>026-31739-010 COALESCER - CARTRIDGE</li>
    <li>026-37573-00 COALESCER - CARTRIDGE</li>
    <li>026-37582-00 COALESCER - CARTRIDGE</li>
    <li>026-45606-010 COALESCER - CARTRIDGE</li>
    <li>026-45606-014 COALESCER - CARTRIDGE</li>
    <li>030-00613C-010 COALESCER - CARTRIDGE</li>
    <li>LI 4863 COALESCER - CARTRIDGE</li>
</ul>

</div>
<div class="container text-center buffer-top-large" style="padding: 20px;" id="contacts">
    <br>
    <h2 class="text-lead">For questions about the supply of a mechanical shaft seal kit</h2>
</div>

<div class="contact-us-btn" style="position: fixed; bottom: 20px; right: 20px; padding: 10px; border-radius: 5%;">
    <a href="#contacts" class="button button-blue">⇩ Contact us ⇩</a>
</div>

  <div name="contacts" style="margin-bottom: 50px; margin-top: 50px;">
  <%= form_with(url: '/send_form', method: :post, html: { class: 'form', id: 'contact-form', onsubmit: 'return validateForm()' }) do |form| %>
    <div class="pageTitle title">Contact us!</div>
    <div class="secondaryTitle title">Shaft Seal Kits Refrigeration</div>
    <div class="secondaryTitle title">Poland, Wroclaw</div>
    <div class="secondaryTitle title">
      <%= link_to '+48795124042', 'tel:+48795124042', target: '_blank', style: 'text-decoration: none; color: grey;' %>
    </div>
    <div class="secondaryTitle title">
      <%= link_to 'shaftsealkit@gmail.com', 'mailto:shaftsealkit@gmail.com', target: '_blank', style: 'text-decoration: none; color: grey;' %>
    </div>
    <div class="secondaryTitle title"><strong>Or </strong>fill out this form!</div>

    <%= form.text_field :name, class: 'name formEntry', id: 'name', placeholder: 'Name', required: true %>
    <%= form.email_field :email, class: 'email formEntry', id: 'email', placeholder: 'Email', required: true %>
    <%= form.text_area :message, class: 'message formEntry', id: 'msg', placeholder: 'Leave your phone number and at a convenient time for you, we will call you back.', required: true %>
    <%= form.submit 'Send', class: 'submit formEntry' %>
  <% end %>
</div>


  <div class="copyright">
    Created by&nbsp;<a href="https://profistyle.group/" target="_blank" class="copyright-link" rel="noopener"> profistyle.group © </a>
  </div>
  
  <script>
  function validateForm() {
    // Получаем значения полей формы
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var msg = document.getElementById('msg').value;

    // Убираем лишние пробелы и экранируем спецсимволы
    name = name.trim().replace(/</g, '&lt;').replace(/>/g, '&gt;');
    email = email.trim().replace(/</g, '&lt;').replace(/>/g, '&gt;');
    msg = msg.trim().replace(/</g, '&lt;').replace(/>/g, '&gt;');

    // Проверяем корректность значений
    if (name == '') {
      alert('Please enter your name');
      return false;
    }
    if (email == '') {
      alert('Please enter your email');
      return false;
    }

if (msg == '') {
alert('Please enter a message');
return false;
}

}
</script>
