<%= form_with(model: spare_part) do |form| %>
  <% if spare_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spare_part.errors.count, "error") %> prohibited this spare_part from being saved:</h2>

      <ul>
        <% spare_part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.text_field :images %>
  </div>

  <div class="field">
    <%= form.label :files %>
    <%= form.text_field :files %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= form.label :kit_id %>
    <%= form.number_field :kit_id %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
