<p id="notice"><%= notice %></p>

<p>
  <strong>Kit:</strong>
  <%= @product.kit_id %>
</p>

<p>
  <strong>Spare part:</strong>
  <%= @product.spare_part_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Price currency:</strong>
  <%= @product.price_currency %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @product.additional %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
